<h1>Editing course</h1>

<%= render 'form' %>

<%= link_to 'Course Page', @course %> |
<%= link_to 'All Courses', courses_path %>

<br/> 

<br/>
<ul>

<% @course.sections.each do |section| %>
	<li>
		<h4><%=section.num%></h4>
		<%=section.teacher%>
		<ul>
		<% section.users.each do |user| %>
			<li>
				<%= user.name%>
			</li>
		<% end %>
	    </ul>
	    <%= form_tag(section_path(section), :method => "PUT") do %>
	    <%= select_tag(:user_add, 
	    	options_for_select(User.all.map {|u| [u.name, u.id]})) %>
	    <%= submit_tag 'Add' %>
		<% end %>
		<%= form_tag(section_path(section), :method => "PUT") do %>
	    <%= select_tag(:user_remove, 
	    	options_for_select(User.all.map {|u| [u.name, u.id]})) %>
	    <%= submit_tag 'Remove' %>
		<% end %>	 	    
	</li>
<% end %>
</ul>

<%= form_for :section, :url => '/sections', :method => :post do |f| %>
	<%= f.label "Add a Section" %>
	Teacher: <%= f.text_field :teacher %>
		<br/>
	Section Num: <%= f.text_field :num %>
	<%= f.hidden_field :add_section, :value => @course.id %>


		<br/>
		<%= submit_tag 'Create new section' %>
	
	<% end %>

