<p id="notice"><%= notice %></p>

<p>
  <b>Course number:</b>
  <%= @course.call_num %>
</p>

<p>
  <b>Course name:</b>
  <%= @course.course_title %>
</p>

<ul>
	<% @course.sections.each do |section| %>
	<li>
			  <%=section.num%>
			  <br/>
			  <%= link_to "Section Page", section_path(section) %>
	</li>
	<% end %>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
