<p id="notice"><%= notice %></p>

<p>
  <b>Dept:</b>
  <%= @course.dept %>
</p>

<p>
  <b>Course number:</b>
  <%= @course.course_number %>
</p>

<p>
  <b>Course name:</b>
  <%= @course.course_name %>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
