<p id="notice"><%= notice %></p>

<p>
  <b>Course number:</b>
  <%= @course.call_num %>
</p>

<p>
  <b>Course title:</b>
  <%= @course.course_title %>
</p>

<ul>
	<% @course.sections.each do |section| %>
	<p>
		<%= link_to (section.num), section_path(section) %>
		<%= " - " %>
		<%= section.teacher %>
	</p>
		  <% end %>

<br/>
<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
